/* timer
field
value
label */

.timer {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.field {
    display: flex;
    flex-direction: column;
}

.value {
    text-align: center;
    font-size: 32px;
}